In [1]:
import pandas as pd 
import random

In [2]:
df1 = pd.read_csv('../src/dataset/sample-01.csv')
df2 = pd.read_csv('../src/dataset/sample-02.csv')

In [3]:
df1.head()

       id      loss
0  250000  7.828718
1  250001  4.519462
2  250002  8.019834
3  250003  7.404080
4  250004  7.376220

In [4]:
df2.head()

       id      loss
0  250000  7.943258
1  250001  5.289723
2  250002  8.230419
3  250003  7.609962
4  250004  6.800013

In [5]:
df1['loss2'] = df2['loss']

In [6]:
for k in range(df2.shape[0]):
    rnd = random.choice(['loss','loss2'])
    df1.loc[k,'loss_shuffle'] = df1.loc[k,rnd]

df1.head()

       id      loss     loss2  loss_shuffle
0  250000  7.828718  7.943258      7.828718
1  250001  4.519462  5.289723      4.519462
2  250002  8.019834  8.230419      8.230419
3  250003  7.404080  7.609962      7.609962
4  250004  7.376220  6.800013      6.800013